### 1: Create a dataset with these paramters:
- 5 rows
- 5 columns
- each number is a random integer between 1 and 10
- store the dataset in a single list named 'raw_data'

Hints:
- There are several ways to do this. Any is OK if you meet the requirements above.
- One possible data structure to use is a list of lists.
- To generate a random integer: https://www.w3schools.com/python/ref_random_randint.asp
- This might be a good time to use 2 'for loops'

In [3]:
# Your code here
import random # Import the random package
# Create an empty list
raw_data = []
# Outter loop, one loop for each row
for row in range(0,5):
    # Create an empty list to hold row values
    row_lst = []
    # Inner loop, one loop for each column in the row
    for col in range(0,5):
        # Append integer to the list
        row_lst.append(random.randint(1,10))
    # In the outter loop, append the row to the dataset.
    raw_data.append(row_lst)
# Print the whole thing
print(raw_data)
# Print row by row
print('\nData one row at a time:')
for row in raw_data:
    print(row)

[[3, 6, 1, 8, 4], [1, 3, 5, 3, 1], [2, 6, 6, 2, 7], [2, 6, 5, 10, 9], [6, 2, 8, 2, 3]]

Data one row at a time:
[3, 6, 1, 8, 4]
[1, 3, 5, 3, 1]
[2, 6, 6, 2, 7]
[2, 6, 5, 10, 9]
[6, 2, 8, 2, 3]

### 2: Convert your dataset to a pandas DataFrame
- store the new dataset in a variable called 'data_df'
- The size of the dataframe should also be 5 rows by 5 columns
- Don't change the values, use the same values created above

Hints:
- The method depends on the type of your existing dataset. 
- If needed, search for 'create pandas dataframe from <your existing data type.'
- I used a 'list of lists', so I searched for 'create pandas dataframe from a list of lists'

In [4]:
# Your code here
import pandas as pd
data_df = pd.DataFrame(data = raw_data)
# Show the dataframe
data_df

   0  1  2   3  4
0  3  6  1   8  4
1  1  3  5   3  1
2  2  6  6   2  7
3  2  6  5  10  9
4  6  2  8   2  3

### 3: Using the pandas DataFrame, calcualte and display the the average number of each column
- Hint: Read the documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
- Verify you've taken the average of the columns and not the rows. You can control this with the 'axis' paramter

In [5]:
# Your code here
data_df.mean(axis = 'index')

0    2.8
1    4.6
2    5.0
3    5.0
4    4.8
dtype: float64

In [7]:
# Check your work
print('col0:',data_df[0]) # Print the first column
print('col0 sum:',data_df[0].sum()) # Print the sum of the first column
print('col0 number of items:', data_df[0].count()) # Print the number of items in the first column
col0_average = data_df[0].sum()/data_df[0].count() # Manually calculate the average
print('col0 average:',col0_average) # Print the value. Check it is the same as the first item in the mean function above.

col0: 0    3
1    1
2    2
3    2
4    6
Name: 0, dtype: int64
col0 sum: 14
col0 number of items: 5
col0 average: 2.8

### 4: Increate the dimensions to 100 x 100
- Create a similar DataFrame as above, but make its dimensions 100 rows by 100 columns. 
- Still create random integers between 1 and 10.
- What is the average from all 10,000 numbers? (take the average of all numbers in the dataframe)

In [11]:
# Your code here
# You can repeat the process above, or short cut it using numpy
import numpy as np # Import a very useful package called "numpy"
# Skip the list of lists, go straight to the DF
#  This says:
# - Create a dataframe using the following data:
#    - Random integers between 1 and 10
#    - Make the size of the integers 100 rows x 100 columns
#         - I found this code by searching Google for: 'python create dataframe of random integers'
#         - The 2nd item was a good example from stackoverflow.com
#                    https://stackoverflow.com/questions/32752292/how-to-create-a-dataframe-of-random-integers-with-pandas
big_df = pd.DataFrame(data = np.random.randint(1,10,size=(100, 100)))

In [12]:
# This will return the mean of the colums, save it as a variable
col_mean = big_df.mean(axis = 'index')
# This is 100 values from each column. What is the type?
print('col_mean is of type:',type(col_mean))
# Let's take the mean of that series: https://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html
print('mean of col_mean:',col_mean.mean())
#
# Let's do it on one step: 
big_df.mean(axis = 'index').mean()

col_mean is of type: <class 'pandas.core.series.Series'>
mean of col_mean: 4.994999999999997

4.994999999999997