In [2]:
# Adapted from: http://justinbois.github.io/bootcamp/2020_fsri/lessons/l01_welcome.html

### Module 1 Learning: Working in SageMaker Studio & Review of Python concepts
In this activity, become familiar with the SageMaker Studio IDE (Integrated Development Environment) and learn/review some basic Python concepts

In [3]:
# This is a code cell. The '#' character makes this a commented line.
# The next line is executable code.
print('Hello, world.')

Hello, world.

### Cells

A Jupyter notebook consists of cells. The two main types of cells you will use are code cells and markdown cells. First, an overview.

A code cell contains actual code that you want to run. You can specify a cell as a code cell using the pulldown menu in the toolbar of your Jupyter notebook. Otherwise, you can can hit Esc and then y (denoted Esc - y‚Äù) while a cell is selected to specify that it is a code cell. Note that you will have to hit enter after doing this to start editing it.

If you want to execute the code in a code cell, hit Enter while holding down the Shift key (denoted Shift + Enter). Note that code cells are executed in the order you shift-enter them. That is to say, the ordering of the cells for which you hit Shift + Enter is the order in which the code is executed. If you did not explicitly execute a cell early in the document, its results are not known to the Python interpreter. This is a very important point and is often a source of confusion and frustration for students.

Markdown cells contain text. The text is written in markdown, a lightweight markup language. As you are typing the contents of these cells, the results appear as text. Hitting Shift + Enter renders the text in the formatting you specify.

Markdown formatting reference: https://www.ibm.com/docs/en/db2-event-store/2.0.0?topic=notebooks-markdown-jupyter-cheatsheet

You can specify a cell as being a markdown cell in the Jupyter toolbar, or by hitting Esc - m in the cell. Again, you have to hit enter after using the quick keys to bring the cell into edit mode.

In general, when you want to add a new cell, you can click the + icon on the notebook toolbar. The shortcut to insert a cell below is Esc - b and to insert a cell above is Esc - a. Alternatively, you can execute a cell and automatically add a new one below it by hitting Alt + Enter.

<P><P><P><P>If you evaluate a Python expression that returns a value, that value is displayed as output of the code cell. This only happens, however, for the last line of the code cell.

In [4]:
# Would show 9 if this were the last line, but it is not, so shows nothing
4 + 5

# I hope we see 11.
5 + 6

11

Note, however, if the last line does not return a value, such as if we assigned value to a variable, there is no visible output from the code cell.

In [5]:
# Variable assignment, so no visible output.
a = 5 + 6

In [6]:
# However, now if we ask for a, its value will be displayed
a

11

## Colvin's Top 5 Tips:
For working in juyter notebooks and Python for data
### Tip #1
Use the keyboard as much as possible. With a little practice, you can move very quickly around a notebook.
<P>
Bigger list of keyboard shortcuts than shown here:<BR> 
    https://gist.github.com/discdiver/9e00618756d120a8c9fa344ac1c375ac

In [7]:
# Create a Python list.
lst = [1,2,'Three',{'Four':4},('Five','Six',7)]
# Display the list in the cell's output:
lst

[1, 2, 'Three', {'Four': 4}, ('Five', 'Six', 7)]

In [8]:
# Use the command mode keystrokes:
# 'Esc' puts the cell into command mode
# 'Enter' puts the cell into edit mode
# Try this sequence:
# - hit the Esc key
# - then hit the 'b' key
# This inserts a cell below. Very fast and useful.

In [9]:
# Insert above
# use the key stroke: Esc a
# Inserts a cell above.

In [10]:
# Delete a cell
# Esc d d

In [11]:
# Undo last action
# Esc z

In [12]:
# Change cell type:
# Esc m (markdown)
# Esc y (code)
#
# Then hit enter to edit the cell.

In [13]:
# Comment and uncomment multiple lines:
# Highlight the lines and push: Ctrl /
#
# The range() function creates a range of numbers, often very useful for loops
x = range(5)
print('The x variable is of type:',type(x))
# Let's use x in a loop
for num in x:
    print(num)
print("\nLet's try an embedded loop using 2 ranges.\n")
# This is an embedded for loop:
for i in range(5):
    # For every i = 0,1,2,...4, do this    
    for j in range(2):
        # Print current i & 0, then i & 1
        print('i=',i,'j=',j)

The x variable is of type: <class 'range'>
0
1
2
3
4

Let's try an embedded loop using 2 ranges.

i= 0 j= 0
i= 0 j= 1
i= 1 j= 0
i= 1 j= 1
i= 2 j= 0
i= 2 j= 1
i= 3 j= 0
i= 3 j= 1
i= 4 j= 0
i= 4 j= 1

In [14]:
# Using a for loop on a list
for item in lst:
    print('Type:',type(item)) # Print the item type
    print('Value:',item) # Print the item value

Type: <class 'int'>
Value: 1
Type: <class 'int'>
Value: 2
Type: <class 'str'>
Value: Three
Type: <class 'dict'>
Value: {'Four': 4}
Type: <class 'tuple'>
Value: ('Five', 'Six', 7)

In [15]:
# Restart the kernel and clear all outputs: Esc 0 0 (this is zero zero)
# This is a fresh beginning for the notebook.
# This variable will be gone until you rerun the cell that defines it.
lst

[1, 2, 'Three', {'Four': 4}, ('Five', 'Six', 7)]

### Tip #2
Installing and loading modules. 
This is often difficult on a laptop, but easy on SageMaker Studio Lab

In [16]:
# Checking Python kernel version
# import a single function from a module
from platform import python_version
python_version()

'3.7.10'

In [4]:
# If a package is already installed, then we can just import it
import pandas as pd # Give this package a name 'pd'
# No error, so we are OK.

In [5]:
# Try to import something that isn't installed or doesn't exist
import jibberish
# Error: If this is a real module, likely not installed.

ModuleNotFoundError: No module named 'jibberish'

In [6]:
# Conda is a 'package mangement system' for Python. Use it to install packages, if needed.
%conda list pandas
# If not installed:
#%conda install pandas

# packages in environment at /opt/conda:
#
# Name                    Version                   Build  Channel
pandas                    1.0.1            py37h0573a6f_0

Note: you may need to restart the kernel to use updated packages.

In [8]:
# Create a list of lists, then load that data into a pandas DataFrame
data_lst = [[1,3,5],[7,9,11],[13,15,17]]
df = pd.DataFrame(data = data_lst)
# Show the dataframe
df

    0   1   2
0   1   3   5
1   7   9  11
2  13  15  17

### Tip #3
Use descriptive variable names.<BR>
Spend lots of time verifying the output from a cell is exactly what you expect.<BR>
    Prove to yourself that you believe the output.

In [9]:
# Often, it is useful to  know the type of every variable.This often leads finding a bug in your code.
strange_lst = pd.DataFrame([1,2,3]) # Very bad variable name.
strange_lst

   0
0  1
1  2
2  3

In [10]:
# Display the 2nd item in the list.
strange_lst[1]  # This works on a list, but not a pandas DataFrame

KeyError: 1

In [11]:
# I use the type() function a lot.
type(strange_lst)

pandas.core.frame.DataFrame

In [13]:
# Show me the 2nd item in a pandas DataFrame
print(strange_lst.iloc[1])  # Use the position in the DataFrame (the 2nd element)
# Documentation for iloc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html
#
print(strange_lst.loc[1]) # Use the index of the item in the DataFrame (right now, the index is 0,1,2)
# Documentation for loc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

0    2
Name: 1, dtype: int64
0    2
Name: 1, dtype: int64

In [ ]:
# Append this DataFrame to the real lst from above
lst.append(strange_lst)
# Now look at the value and type of each item
for item in lst:
    print('Print the item:\n',item,', Type of item:',type(item))

### Tip #4
- Look for help and examples from the web. You can often find some useful code in less than 1 minute.<BR>
- stackoverflow.com is a great resource.<BR>
- google search: pandas merge two dataframes side by side<BR>
- Leads quickly to: https://stackoverflow.com/questions/23891575/how-to-merge-two-dataframes-side-by-side

### Tip #5
Get comfortable with data structures:
- udemy.com $13 course: https://www.udemy.com/course/python-and-jupyter-notebooks-for-beginners/
- Python native: lists, dicts, tuples.
- Get good at looping through any data structure: lists, dicts, DataFrames, arrays, etc.
- If working with AWS in Python, you need to be a master of dictionaries and JSON (use the json library). AWS responsds with JSON.
- Learn a lot about pandas: creating, editing, merging, apply(), filtering
- The NumPy module: Sometimes NumPy enhances or improve pandas.
- Simple visualizaiton with matplotlib. Useful for quick and dirty visual analysis.
- If doing machine learning, a great place to start is scikit-learn. It will teach the fundamentals, then other ML (including AWS SageMaker and other Cloud providers) algorithms will be easy.

In [ ]:
%conda list sql*