### Module 7-2: Scaling Data

-TBD

In [1]:
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestRegressor # Here is the RF regressor
# from sklearn.metrics import r2_score,mean_squared_error  # Use our past metrics
import pandas as pd
# import numpy as np
# import time
# from matplotlib import pyplot as plt

Load csv data from AWS S3 directly into a pandas dataframe

In [27]:
# Create S3 Client
s3 = sess.client('s3') 
# Define the bucket & file you want to load
bucket = 'machinelearning-read-only'
key = 'data/boston.csv'
# Make the call to the 'get_object' function
response = s3.get_object(Bucket=bucket, Key=key)
# Load the 'data' part of the response directly into a dataframe
df = pd.read_csv(response.get("Body")) # The 'Body' is of type streaming body. We can put this right into a dataframe
# There is not local storage of the dataframe. It is only in memory.
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### 3. Scaling Data

In [26]:
# Normalizing columns on a 0-1 scale
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
df_normalized = pd.DataFrame(data=mms.fit_transform(df),columns=df.columns)
df_normalized.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.040544,0.113636,0.391378,0.069170,0.349167,0.521869,0.676364,0.242381,0.371713,0.422208,0.622929,0.898568,0.301409,0.389618
std,0.096679,0.233225,0.251479,0.253994,0.238431,0.134627,0.289896,0.191482,0.378576,0.321636,0.230313,0.230205,0.197049,0.204380
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000851,0.000000,0.173387,0.000000,0.131687,0.445392,0.433831,0.088259,0.130435,0.175573,0.510638,0.945730,0.144040,0.267222
50%,0.002812,0.000000,0.338343,0.000000,0.314815,0.507281,0.768280,0.188949,0.173913,0.272901,0.686170,0.986232,0.265728,0.360000
75%,0.041258,0.125000,0.646628,0.000000,0.491770,0.586798,0.938980,0.369088,1.000000,0.914122,0.808511,0.998298,0.420116,0.444444
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [24]:
# Standardizing data by centering at zero and: -standard deviations < data < +standard deviations
from sklearn.preprocessing import StandardScaler
stds = StandardScaler()
#stds.fit(df)
df_standardized = pd.DataFrame(data=stds.fit_transform(df),columns=df.columns)
round(df_standardized.describe(),2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00,506.00
mean,-0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,0.00,0.00,-0.00,0.00,-0.00,-0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-0.42,-0.49,-1.56,-0.27,-1.47,-3.88,-2.34,-1.27,-0.98,-1.31,-2.71,-3.91,-1.53,-1.91
25%,-0.41,-0.49,-0.87,-0.27,-0.91,-0.57,-0.84,-0.81,-0.64,-0.77,-0.49,0.21,-0.80,-0.60
50%,-0.39,-0.49,-0.21,-0.27,-0.14,-0.11,0.32,-0.28,-0.52,-0.46,0.27,0.38,-0.18,-0.15
75%,0.01,0.05,1.02,-0.27,0.60,0.48,0.91,0.66,1.66,1.53,0.81,0.43,0.60,0.27
max,9.93,3.80,2.42,3.67,2.73,3.56,1.12,3.96,1.66,1.80,1.64,0.44,3.55,2.99

In [23]:
df.sort_values(by=['CRIM'],ascending = False).head(20)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
380,88.9762,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21,10.4
418,73.5341,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62,8.8
405,67.9208,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98,5.0
410,51.1358,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11,15.0
414,45.7461,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0
404,41.5292,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38,8.5
398,38.3518,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59,5.0
427,37.6619,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52,10.9
413,28.6558,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08,16.3
417,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64,10.4
400,25.0461,0.0,18.1,0.0,0.693,5.987,100.0,1.5888,24.0,666.0,20.2,396.90,26.77,5.6
403,24.8017,0.0,18.1,0.0,0.693,5.349,96.0,1.7028,24.0,666.0,20.2,396.90,19.77,8.3
386,24.3938,0.0,18.1,0.0,0.700,4.652,100.0,1.4672,24.0,666.0,20.2,396.90,28.28,10.5
378,23.6482,0.0,18.1,0.0,0.671,6.380,96.2,1.3861,24.0,666.0,20.2,396.90,23.69,13.1
387,22.5971,0.0,18.1,0.0,0.700,5.000,89.5,1.5184,24.0,666.0,20.2,396.90,31.99,7.4
440,22.0511,0.0,18.1,0.0,0.740,5.818,92.4,1.8662,24.0,666.0,20.2,391.45,22.11,10.5
406,20.7162,0.0,18.1,0.0,0.659,4.138,100.0,1.1781,24.0,666.0,20.2,370.22,23.34,11.9
384,20.0849,0.0,18.1,0.0,0.700,4.368,91.2,1.4395,24.0,666.0,20.2,285.83,30.63,8.8
375,19.6091,0.0,18.1,0.0,0.671,7.313,97.9,1.3163,24.0,666.0,20.2,396.90,13.44,15.0
412,18.8110,0.0,18.1,0.0,0.597,4.628,100.0,1.5539,24.0,666.0,20.2,28.79,34.37,17.9

In [ ]:
# from sklearn import datasets
# import pandas as pd
# data = datasets.load_boston()
# df = pd.DataFrame(data.data, columns=data.feature_names)
# y = pd.DataFrame(data.target, columns=["MEDV"])
# df.shape
# df = pd.concat([df, y], axis=1)
# df.to_csv('boston.csv', index=False)

In [ ]:
# Remember, we already have a valid session, we called it 'sess'
# Create the right client, S3 in this case
s3 = sess.client('s3') 
# Call the needed function
response = s3.list_buckets() 
# Parse the response
for buck in response['Buckets']:
    print(buck['Name'])

In [ ]:
# Read data from a .csv (comma-separated-values) file in the local directory
# Adapted from: 
# https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv
df = pd.read_csv('../data/cars.csv')  # Notice the path to the data file
df.head(4)

In [ ]:
# Your code here

In [ ]:
# kcolvin code:
# Pull out selling_price as the target (the value we will predict)
y = df['selling_price']
y.head(2)

In [ ]:
X = df.drop(['name','selling_price'],axis=1)
X.head(2)

### 2. Split the data into training & test datasets

In [ ]:
# Your code here

In [ ]:
# kcolvin code
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

### 3. Format the data for the algorithm

In [ ]:
# your code here

In [ ]:
# kcolvin code
# Just check features for dataframes
print(type(X_train))
print(type(X_test))

### 4. Create an baseline  random forest model and train it

In [ ]:
# your code here

In [ ]:
# Create the RF regressor object
rfr = RandomForestRegressor(max_depth = None, n_estimators = 100) # default parameters
#
# Train the model using the training data
fit_rfr = rfr.fit(X_train, y_train.values.ravel())
# Show hyperparameters
fit_rfr

### 5. Use the test set to measure the model's performance

In [ ]:
# Your code here

In [ ]:
# kcolvin code
# Predict new MEDV values using the X_test data
y_pred = rfr.predict(X_test)

In [ ]:
# Report the performance metrics
# Calculate the metrics
r2 = round(r2_score(y_test, y_pred),2)
mse = round(mean_squared_error(y_test, y_pred),2)
#
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))
print("MSE: ", mse)
print("RMSE: ", round(mse**(1/2.0),3)) # Root Mean Squared Error

### 6. Tune max_depth and n_estimators to minimize error

In [ ]:
# your code here

In [ ]:
# kcolvin code
#  Setup the search space
max_depths = np.linspace(1, 6, 6, endpoint=True)
print(max_depths)
n_estimators = np.array([50,100,200,300,400])
print(n_estimators)
#
# The goal is to minimize mse
best_mse = float('inf') # set this value very high. We will try to minimize it
best_n = 0  # Will keep track of n_estimators
best_md = 0 # Will keep track of max_depth
#
# Let's time how long this takes
import time
st = time.time() # time right now
# 
# Do an embedded for loop and search though each combination of n_estimator and max_depth
for md in max_depths:
    for n in n_estimators:
        # Do the workflow
        rfr = RandomForestRegressor(max_depth = md, n_estimators = n)
        fit_rfr = rfr.fit(X_train, y_train.values.ravel() )
        y_pred = rfr.predict(X_test)
        mse = round(mean_squared_error(y_test, y_pred),2)
        if mse < best_mse: # If the mse is lower, then update current variable values
            best_mse = mse 
            best_n = n
            best_md = md
#
# Get the end time
et = time.time()
#
# get the elapsed time
elapsed_time = et - st
# Report results of search
print('Execution time:', elapsed_time, 'seconds')
print('Best MSE:', best_mse)
print('Best Max Depth:', best_md)
print('Best n_estimators:', best_n)

### 7. Use the best hyperparameters and create a new model

In [ ]:
# your code here

In [ ]:
# Run this cell several times and discuss output.
rfr = RandomForestRegressor(max_depth = best_md, n_estimators = best_n)
fit_rfr = rfr.fit(X_train, y_train.values.ravel() )
y_pred = rfr.predict(X_test)
#
# Calculate the metrics
r2 = round(r2_score(y_test, y_pred),2)
mse = round(mean_squared_error(y_test, y_pred),2)
#
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))
print("MSE: ", mse)
print("RMSE: ", round(mse**(1/2.0),3)) # Root Mean Squared Error

### 8. Use the model to make new predictions

In [ ]:
# your code here

In [ ]:
# kcolvin code
# Predict 'new' different cars selling price
#
# Recall the Features: 
#   ['year', 'km_driven', 'km/liter', 'engine', 'max_power', 'seats']
#
c1 = [2013.0, 192500.0, 22.32, 1582.0, 126.3, 5.0]
c2 = [2015.0, 9000.0, 9.4, 2179.0, 120.0, 7.0]
c3 = [2017.0, 99000.0, 13.6, 1999.0, 177.0, 4.0]
c4 = [2019.0, 256000.0, 24.0, 1120.0, 70.0, 5.0]
c5 = [2021.0, 5000.0, 36.1, 796.0, 37.0, 2.0]
#
c_lst = [c1, c2, c3, c4, c5]
#
for car in c_lst:
    print('Car features:', car)
    df = pd.DataFrame(data=car)
    pv = int(rfr.predict(df.T).item())
    print('Predicted Value in some currency:', pv , '\n')