### Module 9: Lab: Practice coss-validation for competing model evaluation
In this lab, perform only up to step 4:Use cross-validation to get multiple estimates of how well each model performs.<P>
    
We will use the Portuguese Student Performance data: https://archive.ics.uci.edu/ml/datasets/Student+Performance
    
Use all columns to predict the 'Grade' target. 
 
Review the process::
1. Load the data
2. Prepare the data for modeling
3. Select 3 models to evaluate, my suggestion:
    - Stochastic Gradient Descent (SGD)
    - Decision Tree
    - Random Forest
4. Use cross-validation to get multiple estimates of how well each model performs

Stop at this point and evaluate how well the models are performing. What step might be next?

In [2]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np

### 1. Load the data

In [3]:
# This is an excel file we are pulling data from, use read_excel to get it to a dataframe
df = pd.read_excel('../data/students.xlsx')  # Notice the path to the data file
df.head(2)

,Age,Mother's Edu,Father's Edu,Commute,Study Time,Failed Classes,Family Relationships,Free Time,Social Life,Weekday Drinking,Weekend Drinking,Health,Absences,Grade
0,15,1,1,2,4,1,3,1,2,1,1,1,2,10
1,15,1,1,1,2,2,3,3,4,2,4,5,2,5

In [ ]:
# Create features and target dataframes. 
X = df.drop(['Grade'],axis = 1) # Use all columns except 'Grade'
y = df[['Grade']] # Use 'Grade' as the target
X.shape

### 2. Prepare the data for modeling

In [ ]:
# The data is clean, but the scaling is varied
X.describe()

In [ ]:
# Your code here:
# Since we will use the SGD algorithm, which is sensitive to scale, let's normalize the data. (standardize would be OK too)
norm_scaler_all_data = <your code>
X_norm = <your code>
X_norm.describe()

### 3. Select 3 models to evaluate

In [ ]:
# Your code here:
# You can select any algorithms you want, but I suggest: SGD, Decision Tree and Random Forest
# Create 3 model objects. Just use the default hyperparameters
sgd = <your code>
dtr = <your code>
rfr = <your code>

### 4. Use cross-validation to get multiple estimates of how well each model performs

In [ ]:
# Your code here:
# Please use the cross_val_score() function with k=5 (or any k you wish)
#
# Eval the sgd

# Eval dtr

# Eval rfr

### Stop

How are the models performing? 

What step might be next? Let's discuss

If you get a negative R^2, check out:
- https://towardsdatascience.com/explaining-negative-r-squared-17894ca26321