### Lab 4: Practice Linear Regression with Feature Selection

OK, your turn. This time, we'll use vehicle features to predict selling price for a used car.

**Target:** selling price of the used car<BR>
**Features:** Look at possible columns and decide which to use in your linear regression model

Follow the ML Process:<P>
1. Obtain and load the data
2. Perform Feature Selection
3. Split the data into training & test datasets
4. Format the data for the algorithm
5. Create the model and train it
6. Use the test set to measure the model's performance
7.  Use the model to make new predictions

In [2]:
# Load libraries
from sklearn import linear_model
from sklearn.metrics import r2_score # mean_squared_error,
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Load the data

In [3]:
# Read data from a .csv (comma-separated-values) file in the local directory
# Adapted from: 
# https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv
df = pd.read_csv('../data/cars.csv')  # Notice the path to the data file
df.head(4)

,name,year,selling_price,km_driven,km/liter,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.00,1396.0,90.00,5.0

#### Investigate the data

In [4]:
# Look at the data type of each column
df.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
km/liter         float64
engine           float64
max_power        float64
seats            float64
dtype: object

In [5]:
# Use describe() to give summary statistics of the numeric data
#  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html
df.describe()

,year,selling_price,km_driven,km/liter,engine,max_power,seats
count,7906.000000,7.906000e+03,7.906000e+03,7906.000000,7906.000000,7906.000000,7906.000000
mean,2013.983936,6.498137e+05,6.918866e+04,19.419861,1458.708829,91.587374,5.416393
std,3.863695,8.135827e+05,5.679230e+04,4.036263,503.893057,35.747216,0.959208
min,1994.000000,2.999900e+04,1.000000e+00,0.000000,624.000000,32.800000,2.000000
25%,2012.000000,2.700000e+05,3.500000e+04,16.780000,1197.000000,68.050000,5.000000
50%,2015.000000,4.500000e+05,6.000000e+04,19.300000,1248.000000,82.000000,5.000000
75%,2017.000000,6.900000e+05,9.542500e+04,22.320000,1582.000000,102.000000,5.000000
max,2020.000000,1.000000e+07,2.360457e+06,42.000000,3604.000000,400.000000,14.000000

#### Pull out the target column and load them into the 'y' variable

In [ ]:
# Your code here

### 2. Perform Feature Selection: 

There are 6 possible columns to use as features. Perform feature selection using a correlational analysis to remove columns.

In [ ]:
# Your code here

### 3. Split the data into training & test datasets

In [ ]:
# Your code here

### 4. Format the data for the algorithm
Since the X data is already in a dataframe, we should be good. Just verify it.

In [ ]:
# Your code here

### 5. Create the model and train it

In [ ]:
# Your code here:

### 6. Use the test set to measure the model's performance

In [ ]:
# your code here

### 7.  Use the model to make new predictions:
You need to create a few fictitious cars that we can predict. <BR>
Dataframes are excellent data structures to pass to the .predict() function

In [ ]:
# Your code here