### Challenge Lab: Predicting student grades without grading!

In most school situations, the teacher makes assignments and grades them to determine a student's grade in the course.  Typically, lots of time and effort is spent earning points to determine a grade.

What if a teacher could accurately assign grades without all the effort that go into students earning points?

This dataset has collected many student attributes and a final grade in a course. There is no "points earned" data that was used to determine the grade, just attributes about the student.

Your assignment is to create a ML model to predict grades based on the student's attributes. 

You are free to attack this problem any way you want. Of course, you are encouraged to follow the ML workflow and use the algorithms we've discussed so far in this course.

The dataset is simplfied for you, but based on this raw data: <P>

https://archive.ics.uci.edu/ml/datasets/Student+Performance

In [4]:
import pandas as pd

### 1. Load the data

In [7]:
# This is an excel file we are pulling data from, use read_excel to get it to a dataframe
df = pd.read_excel('../data/students.xlsx')  # Notice the path to the data file
df.head()

,Age,Mother's Edu,Father's Edu,Commute,Study Time,Failed Classes,Family Relationships,Free Time,Social Life,Weekday Drinking,Weekend Drinking,Health,Absences,Grade
0,15,1,1,2,4,1,3,1,2,1,1,1,2,10
1,15,1,1,1,2,2,3,3,4,2,4,5,2,5
2,15,2,2,1,1,0,4,3,1,1,1,2,8,13
3,15,2,4,1,3,0,4,3,2,1,1,5,2,8
4,15,3,3,2,3,2,4,2,1,2,3,3,8,10

In [9]:
df.describe()

,Age,Mother's Edu,Father's Edu,Commute,Study Time,Failed Classes,Family Relationships,Free Time,Social Life,Weekday Drinking,Weekend Drinking,Health,Absences,Grade
count,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000,382.000000
mean,16.586387,2.806283,2.565445,1.442408,2.034031,0.290576,3.939791,3.222513,3.112565,1.473822,2.280105,3.578534,5.319372,10.387435
std,1.173470,1.086381,1.096240,0.695378,0.845798,0.729481,0.921620,0.988233,1.131927,0.886229,1.282866,1.400360,7.625251,4.687242
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000
50%,17.000000,3.000000,3.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,3.000000,11.000000
75%,17.000000,4.000000,4.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,20.000000

In [10]:
# your code here