### Lab 5: Decision Tree Regression

OK, your turn. I'll set it up, but then you build a decision tree model to predict car selling price. You'll also need to tune max_depth to make sure you're not overfitting your model.

Follow the ML workflow:
1. Obtain and isolate the data
2. Split the data into training & test datasets
3. Format the data for the algorithm
4. Create an initial model and train it
5. Use the test set to measure the model's performance
6. Tune the model to minimize error
7. Use the model to make new predictions

In [2]:
from sklearn import datasets
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### 1. Obtain and isolate the data

In [3]:
# Read data from a .csv (comma-separated-values) file in the local directory
# Adapted from: 
# https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv
df = pd.read_csv('../data/cars.csv')  # Notice the path to the data file
df.head(4)

,name,year,selling_price,km_driven,km/liter,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.00,1396.0,90.00,5.0

In [4]:
# Your code here

### 2. Split the data into training & test datasets

In [5]:
# Your code here

### 3. Format the data for the algorithm

In [6]:
# your code here

### 4. Create an initial model and train it

In [7]:
# your code here

### 5. Use the test set to measure the model's performance

In [8]:
# Your code here

### 6. Tune the model to minimize error

In [9]:
# your code here

### 7. Use the model to make new predictions

In [10]:
# your code here